#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3, label.rem 
                 { display: none; }
body             { 
	font-size: xx-large; 
	background: #f1dc38;

}
input, button    { font-size: x-large; }
footer           { font-size: large; }