<form method="get" action="/quizes/answer">        
	<p>Pregunta: <%= pregunta %> </p>
	<input type="text" name="respuesta" style="width:300px;" placeholder="Respete mayúsculas y acentos"/>
	<input type="submit" value="Enviar">
</form>